/* ESTILOS GENERALES DE TODA LA PAGINA */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* DEFINICION VARIABLES COLOR DE TODA LA PAGINA */
:root {
    --color-texto: #514974;
    --color-texto-fuerte: #42318d;
    --color-acento: #10a372;
    --color-fondo: #efefef;
    --color-fondo-alternativo: #c4ffdb;

    --fuente-principal: "Montserrat", sans-serif;
}

main {
    padding: 2rem 1rem;
}

body {
    background-color: var(--color-fondo);

    font-family: var(--fuente-principal);
    color: var(--color-texto);
    font-size: 1rem;
    line-height: 1.6;

    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1rem;
}

header {
    background-color: var(--color-fondo-alternativo);
    color: var(--color-texto-fuerte);
    padding: 0.2rem 3rem; /*padding y margin (arriba y abajo, izquierda y derecha)*/
    display: flex;
    position: sticky;
    top: 0px;
}

footer {
    color: var(--color-texto-fuerte);
    background-color: var(--color-fondo-alternativo);
    padding: 2rem;
    margin: 1rem;
}

section {
    padding: 1rem;
    margin: 1rem;
}

article {
    padding: 1rem;
    margin: 1rem;
}

/* ESTILOS PARA EL NAV */
nav ul {
    list-style: none; /* Elimina los puntos */
    display: flex;
    gap: 2rem;
    padding: 5px;
}

nav a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: var(--color-texto);
    font-weight: bold; /*texto de los enlaces sea más destacado */
}

/*ESTILOS PARA HOVER (INDICA QUE ES UN ENLACE/LINK) */
nav a:hover {
    color: var(--color-acento);
}

/* 
=====================================================
SECCION CONTATO (RODRIGO) ESTILOS GENERALES CONTACTO
=====================================================
*/
/* padding y margin contacto */
#contacto {
    padding: 30px;
    border-radius: 50px;
    max-width: 600px;
    margin: 30px auto;
}

#contacto h2 {
    color: var(--color-acento);
    font-size: 2rem;
    margin-bottom: 20px;
}

#contacto h3 {
    color: var(--color-acento);
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-top: 20px; /* Agrega espacio entre el horario y la sección de contacto */
}
/* margin y padding para los parrafos */
#contacto p {
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: var(--color-texto);
}
#correo:hover,
#whatsapp:hover,
#instagram:hover,
#como-llegar:hover {
    color: var(--color-acento);
}

/*
==================================
SECCION INDEX (YACO) ESTILOS 
==================================
*/

#secciones {
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

aside {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 280px; /* PREGUNTAR, no se vuelve responsive */
    justify-content: center;
    gap: 1rem;
}

#sabiasQue {
    color: var(--color-acento);
    font-size: 1rem;
    /* max-width: 300px; */
    text-align: justify;
}

.imgCuerpo {
    /* text-align: center; (parece que no funciona con img) */
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}

/* 
==================================
SECCION PROGRAMAS (SOFIA) ESTILOS 
==================================
*/
#Programas {
    text-decoration: underline;
}
#programa1 {
    color: var(--color-acento);
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#programa2 {
    color: var(--color-acento);
    font-size: 1.5rem;
    margin-bottom: 10px;
}
#programa3 {
    color: var(--color-acento);
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.participar {
    font-style: italic;
}
