/* ESTILOS GENERALES DE TODA LA PAGINA */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* DEFINICION VARIABLES COLOR DE TODA LA PAGINA */
:root {
    --color-texto: #514974;
    --color-texto-fuerte: #42318d;
    --color-acento: #10a372;
    --color-fondo: #efefef;
    --color-fondo-alternativo: #c4ffdb;

    --fuente-principal: "Montserrat", sans-serif;
}

main {
    padding: 1rem;
    margin: 1rem;
}

body {
    background-color: var(--color-fondo);

    font-family: var(--fuente-principal);
    color: var(--color-texto);
    font-size: 1rem;
    line-height: 1.6;

    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1rem;
}

header {
    color: var(--color-texto-fuerte);
    background-color: var(--color-fondo-alternativo);
    padding: 1rem;
    margin: 1rem;
}

footer {
    color: var(--color-texto-fuerte);
    background-color: var(--color-fondo-alternativo);
    padding: 1rem;
    margin: 1rem;
}

section {
    padding: 1rem;
    margin: 1rem;
}

article {
    padding: 4rem;
    margin: 1rem;
}

/* ESTILOS PARA EL NAV */

nav {
    padding: 1rem;
    margin: 1rem;
}

nav a {
    color: var(--color-texto-fuerte);
    text-decoration: none;
    margin: 2rem;
    font-weight: bold;
}

nav a:hover {
    color: var(--color-acento);
}

/* ESTILOS HEADINGS */
h1 {
    color: var(--color-texto-fuerte);
    font-size: 2.5rem;
    margin-bottom: 20px;
}

h2 {
    color: var(--color-texto);
    font-size: 2rem;
    margin-bottom: 20px;
}

h3 {
    color: var(--color-acento);
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* 
=====================================================
SECCION CONTATO (RODRIGO) ESTILOS GENERALES CONTACTO
=====================================================
*/
/* padding y margin contacto */
#contacto {
    background-color: var(--color-fondo);
    padding: 30px;
    border-radius: 50px;
    max-width: 600px;
    margin: 30px auto;
}

#contacto h2 {
    color: var(--color-primario);
    font-size: 2rem;
    margin-bottom: 20px;
}

#contacto h3 {
    color: var(--color-acento);
    font-size: 1.5rem;
    margin-bottom: 10px;
}
/* margin y padding para los parrafos */
#contacto p {
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: var;
}

/*
==================================
SECCION INDEX (YACO) ESTILOS 
==================================
*/

#secciones {
    text-align: center;
    margin-bottom: 20px;
}

#sabiasQue {
    color: var(--color-acento);
    font-size: 1rem;
    margin-bottom: 20px;
    max-width: 600px;
    text-align: justify;
}

.imgCuerpo {
    /* text-align: center; (parece que no funciona con img) */
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}

/* 
==================================
SECCION PROGRAMAS (SOFIA) ESTILOS 
==================================
*/
#Programas {
    text-decoration: underline;
}
#programa1 {
    color: var(--color-acento);
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#programa2 {
    color: var(--color-acento);
    font-size: 1.5rem;
    margin-bottom: 10px;
}
#programa3 {
    color: var(--color-acento);
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.participar {
    font-style: italic;
}
